body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Estilize a barra de rolagem */
/* Este estilo é para navegadores Webkit, como Chrome e Safari */
/* Você pode adicionar estilos para outros navegadores também */

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 12px;
}

/* Alça da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* Trilho da barra de rolagem */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}